.body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding:0px;
}
.welcome {
	margin: 40px;
}

.customers {
		width: 40%;
		margin:40px;
}
.sectionHeader {
    width: 290px;
    color: #429ab7;
    background-color: #c4e3ed;
    margin-left: 40px;
    padding:10px;
}
